*

!*/
!*.py
!*.sh
!*.cmd
!*.lua
!*.c
!*.cc
!*.cpp
!*.h
!*.hpp
!*.mm
!*.frag
!*.xpm
!*.ini
!*.pump
!*.g00
!*.TXT
!*.ke
!*.rlvm
!*.gitignore

!*SConscript
!*SConscript.rlc
!/SConstruct
!/SConscript.android
!/SConscript.cocoa
!/SConscript.coverage
!/SConscript.gtk
!/SConscript.luarlvm
!/SConscript.test
!/.dir-locals.el
!/.clang-format
!*COPYING

!scripts/pkg-dmg

!po/**/*.po
!po/**/*.mo
!po/**/*.pot

!resources/**/*.png
!resources/**/*.xpm
!resources/**/*.icns

!src/platforms/gtk/*.desktop
!src/platforms/osx/dmg-ds-store
!src/platforms/osx/Info.plist.in
!src/platforms/osx/StubInfoPlist.strings