*

!*/
!*.kt
!*.kts
!*.java
!*.toml
!*.pro
!*.iml
!*.png
!*.md
!*.gitignore
!*.properties

!/gradlew
!/gradlew.bat

!app/**/*.xml

!scripts/**/*.sh
!scripts/*.txt
!scripts/*.cmake

!scripts/patches/**/*.diff
!scripts/patches/**/*.patch

!app/src/main/jniLibs/**/*.so
!app/src/main/assets/fonts/**/*.ttc
!app/src/main/assets/fonts/**/*.ttf
!app/src/main/assets/fonts/**/*.odt

!.name

**/.gradle/**
**/.kotlin/**
**/build/**
**/release/**
**/downloads/**
**/prefix/**
**/toolchain/**

**/local.properties